<section>
    <article>
        <h3>Class e Style Binding</h3>
        <div>
            Selecione uma classe:
            <!-- Aqui não vamos escutar nada (change)="0"-->
            <select #classe (change)="0">
                <option value="alert-success">Sucesso</option>
                <option value="alert-info">Info</option>
                <option value="alert-warning">Alerta</option>
                <option value="alert-danger">Erro</option>
            </select>
            <br><br>

            <div class="alert {{ classe.value }}" role="alert">
                Texto colorido conforme o valor do combobox.
            </div>

            <div class="alert" role="alert" [class.alert-success]="classe.value == 'alert-success'">Sucesso</div>
            <div class="alert" role="alert" [class.alert-info]="classe.value == 'alert-info'">Info</div>
            <div class="alert" role="alert" [class.alert-warning]="classe.value == 'alert-warning'">Alerta</div>
            <div class="alert" role="alert" [class.alert-danger]="classe.value == 'alert-danger'">Erro</div>


            <!-- Utilizando o style binding veja que o alert passa para dentro do class e o uso de [] no style.display-->
            <div class="alert alert-success" role="alert"
                [style.display]="classe.value == 'alert-success' ? 'block' : 'none' ">
                Esse texto somente aparece em caso de Sucesso.
            </div>

            <div class="alert alert-danger" role="alert"
                [style.display]="classe.value == 'alert-danger' ? 'block' : 'none' ">
                Esse texto somente aparece em caso de Erro.
            </div>

            <div class="alert alert-warning" role="alert"
                [style.display]="classe.value == 'alert-warning' ? 'block' : 'none' ">
                Esse texto somente aparece em caso de Alerta.
            </div>

            <div class="alert alert-info" role="alert" 
                [style.display]="classe.value == 'alert-info' ? 'block' : 'none' ">
                Esse texto somente aparece em caso de Informações.
            </div>
        </div>
    </article>
</section>